body{
    color: #45464c !important;
    font-weight: 600;
}

.bg-red-custom{
    background-color: #f93154;
}
.border-custom{
    border: 2px solid rgb(167, 163, 163);
}
.table-custom{
    font-size: 15px;
}
